@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* shared styles */
.display-flex{
     display: flex;
    
}
/* dark-02 */
.text-gray{
    color: #424242;
}
.orange{
    color: #FF900E;
}
/* dark-03 */
.text-light-gray{
    color:#727272;
}

.bg-light{
    background-color:  rgba(255, 144, 14, 0.1);
}

.btn{
   background-color:#FF900E ;
   color: #ffffff;
   font-weight:600;
   font-size: 1.2rem;
   border-radius: 8px;
   padding: 20px 25px;
   border: 1px solid #FF900E;
}
.section-title{
    font-size: 3rem;
    font-weight: bold;

}
main > section{
    margin-top: 130px;
}
/* header styles */
/* navbar related style */

.navbar{
    justify-content: space-between;
   align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}

.navitem{
    margin-right: 30px;
   list-style: none;
}

.nav-link{
    text-decoration: none;
    font-weight: 500 ;
}

.navbar, .banner{
    max-width:1440px;
    margin: 0 auto;
}
 /* banner */

.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: bold;
    font-size: 4rem;

}
.banner-img{
    width: 100%;
}



 main{
    max-width: 1440px;
    margin: 0 auto;
 }
 /* team and feature related style */
.team {
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 100px;
   
}


.our-features p{
    font-size: 1rem;
    line-height: 26px;
    width: 542px;
}

/* some facts */
.fact-card-container{
    display:grid ;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
}
.facts-text{
    text-align: left;
}
.fact-card{
    border: 1px solid #FF900E;
    padding:36px ;
    border-radius: 8px;
    width: 200px;
    height: 160px;
    text-align: center;
}
.fact-card h4{
    font-size: 3rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;

}
.fact-card p{
    font-size: 1.3rem;
    font-weight: 600;
   

}
/* sponsers */

.sponspors-logo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
}
.sponspors-logo img{
    width: 150px;
    height: 40px;
    margin: 0 auto;
    filter: grayscale(100%);
}
.sponsers-text{
    grid-row: span 1;
}
/* .sponsers-text{
    margin-top: 24px;
} */

footer{
    padding:30px 350px;
    background-color:#FFF4E7;
    text-align: center;
    margin: 80px 240px;
    border-radius: 8px;
    border: 1px solid #FFF4E7;
    
}



/* responsive media query */
/* for small device */
 @media screen and (max-width:576px){
    .navbar,
     .nav-links,
      .team{
        flex-direction: column;
      }

     .team-img-container,
     .fact-card-container{
        grid-template-columns: repeat(1, 1fr);
    }
    /* css holo cascading-stylesheet tai upore @media deyay oita kaj korchilo na br br team-img-container er grid-template-columns kei dhoetesilo */
    .fact-card-container{
        gap: 15px;
        place-items: center;
    }
    .our-features{
        margin-left: 0;
    }
     .our-features,
     .facts-text{
        text-align: center;
     }
     .sponspors-logo{
    align-items: center;
   
}
 .sponspors-logo img{
    width: 40px;
    height: 20px;

 }
footer{
    padding:1px 1px;
    margin: 10px 20px;
  
    
}
footer p{
    font-size: .7rem;

}
 }

 
/* responsive media query */
/* for meium device */
 @media screen and (min-width:576px) and (max-width:992px){
     .team{
        flex-direction: column;
     }
     .our-features{
        margin-left: 0;
     }

     .our-features,
     .facts-text{
        text-align: center;
     }
     .fact-card-container,
     .sponspors-logo{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
     }
     footer p{
    font-size: .70rem;
}
footer{
    padding:1px 1px;
    margin: 10px 20px;
}

 }











































































































